@{ ViewData["Title"] = "";}


<a href="https://localhost:44345/dev/DevPage" class="link-warning">/Dev/DevPage</a>

<br>

<a href="https://localhost:44345/Dev/token" class="link-warning">/Dev/Token</a>

<br>

<h1> This is the SecretInMVC page </h1>



