@{ ViewData["Title"] = "";}


<a href="https://localhost:44345/" class="link-warning">/</a>

<br>

<a href="https://localhost:44345/home/token" class="link-warning">/home/Token</a>

<br>

<h1> This is the SecretInMVC page </h1>



